#map {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}


.icon {
  opacity: 0.5;
  width: 29px;
  height: 29px;
  margin: -17px -17px;
  border-radius: 30px;
  border-width: 3px;
  border-style: solid;
}


.icon-center {
  background-color: blue;
  border-color: #000;
}


.icon-perim {
  background-color: green;
  border-color: #000;
}
